// ********************
// Footer Styles
// ********************

.footer{
    background-color: var(--color-mirage-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    // Mobile
    @include breakpoint-down(small){
        flex-direction: column;
    }
    
    .wrapper{
        width: 100%;

        // Mobile
        padding: 2.667rem 0;

        // Tablet
        @include breakpoint-up(medium){
            padding: 2.667rem;
        }

        // Desktop
        @include breakpoint-up(large){
            padding: 2.667rem 11rem;
        }

    }

    .nav{

        @include breakpoint-up(medium){
            display: flex;
        }

        > *{
            @include breakpoint-down(small){
                margin-bottom: 2.667rem;
            }
        }

        &__list{
            @include breakpoint-up(medium){
                display: flex;
                align-items: center;
                margin-left: 4.267rem;
            }
        }

        &__item{
            @include breakpoint-down(small){
                margin-bottom: 2rem;
                text-align: center;
            }
            @include breakpoint-up(medium){
                margin-right: 2.667rem;
            }
        }
    }

    .social__list{
        display: flex;
        justify-content: center;
        

        > *:not(:last-child){
            margin-right: 1.6rem;
        }
    }
}