// ********************
// Header Styles
// ********************

.header{

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 51.1rem){

            &__list{
                background-color: var(--color-mirage-blue);
                position: fixed;
                right: -1000%;
                top: 0;
                width: 80%;
                height: 100%;
                padding: 3.2rem 1.6rem;

                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__toggle--close{
                margin-left: auto;
                margin-bottom: 3.2rem;
            }

            &__item{
                // display: block;
                width: 100%;
                margin-bottom: 2.133rem;
                position: relative;
                text-align: center;

                &:first-of-type::before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: .0667rem;
                    position: absolute;
                    top: -1.6rem;
                    background-color: var(--color-link-water-white);
                    opacity: .15;
                }
            }
            .btn--mobile{
                width: 100%;
            }
            .btn--desktop{
                display: none;
            }
        }
    }
}