// ********************
// Hero Styles
// ********************

.hero{
    text-align: center;

    .wrapper{
        width: 100%;

        // Mobile
        padding: 0 1.6rem 5.33rem;

        // Tablet
        @include breakpoint-up(medium){
            padding: 0 6.4rem 6.667rem;
        }

        // Desktop
        @include breakpoint-up(large){
            padding: 0 11rem 5rem;
        }
    }

    &__image-container{
        // Mobile & Tablet
        @include breakpoint-down(medium){
            max-width: 20rem;
            margin: 0 auto;
        }
        // Desktop
        @include breakpoint-up(large){
            display: flex;
            align-items: center;
        }
    }

    .heading{
        margin-bottom: 1.6rem;
    }

    .form{
        margin-bottom: 1rem;

        @include breakpoint-down(medium){
            margin-left: auto;
            margin-right: auto;
        }
    }

    // Desktop
    @include breakpoint-up(large){
        text-align: initial;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        &__text-container{
            grid-column: 1/7;
            align-self: center;

            p{
                margin-left: 2rem;
            }
        }

        &__image-container{
            grid-column: 9/13;
            order: 2;
        }
    }
}