.partners{
    &__list{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        width: 50%;
        margin-bottom: 2.6rem;
        @include breakpoint-up(medium){
            width: 30%;
        }
    }
}