.partners{
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item{
        margin-bottom: 2.6rem;
        @include breakpoint-up(medium){
            width: 30%;
        }
    }
}