.wrapper{
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    grid-column: 1/-1;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    grid-template-areas: inherit;
}