// ********************
// About Styles
// ********************

.about{
    text-align: center;

    @include breakpoint-up(medium){
        text-align: initial;
    }

    &::before{
        content: '';
        width: 100%;
        height: 140px;
        position: absolute;
        right: 0px;
        top: -25px;
        z-index: var(--z-back);
        background-image: url(../../assets/shared/desktop/bg-pattern-circle.svg);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 135% bottom;

        @include breakpoint-up(medium){
            height: 300px;
            background-size: 80%;
            background-position: 330% bottom;
        }

        @include breakpoint-up(large){
            height: 200px;
            background-position: 180% bottom;
        }
    }

    .wrapper{
        padding: 3.2rem 1.6rem;
        @include breakpoint-up(medium){
            padding: 2.5rem 2.667rem 6.133rem;
        }
        @include breakpoint-up(large){
            padding: 2.733rem 17.33rem 6.667rem;
        }
    }

    .heading{

        @include breakpoint-down(small){
            text-align: center;
        }
        &--2{
            margin-bottom: 2.667rem;

            @include breakpoint-up(medium){
                margin-bottom: 3.6rem;
            }
        }

        &--3{
            margin-bottom: 1.0667rem;

            @include breakpoint-up(medium){
                margin-bottom: initial;
            }
        }
    }

    .vision,
    .business{
        @include breakpoint-up(medium){
            display: flex;
            justify-content: space-between;
        }

        .heading{
            @include breakpoint-up(medium){
                flex-basis: 30%;
            }
        }

        .paragraph{
            @include breakpoint-up(medium){
                flex-basis: 70%;
                max-width: 42.33rem;
            }
        }
    }

    .vision{
        margin-bottom: 3.2rem;

        @include breakpoint-up(medium){
            margin-bottom: 4.2667rem;
        }
    }

}

.banner{
    position: relative;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../../assets/about/mobile/image-team-members.jpg);

    @include breakpoint-up(medium){
        height: 267px;
        background-image: url(../../assets/about/tablet/image-team-members.jpg);
    }

    @include breakpoint-up(large){
        height: 500px;
        background-image: url(../../assets/about/desktop/image-team-members.jpg);
    }

    &::before{
        @include breakpoint-up(large){
            content: '';
            height: 150%;
            width: 25%;
            position: absolute;
            left: 0;
            top: -25%;
            z-index: var(--z-back);
            background-image: url(../../assets/shared/desktop/bg-pattern-circle.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right center;
        }
    }
}

.info{
    @include breakpoint-down(small){
        text-align: center;
    }

    .wrapper{
        padding: 3.2rem 1.6rem 2.667rem;

        @include breakpoint-up(medium){
            padding: 4.2667rem 2.667rem 3.33rem;
        }

        @include breakpoint-up(large){
            padding: 6.667rem 17.33rem 3.2rem;
        }
    }

    &__list{
        margin-bottom: 3.2rem;

        @include breakpoint-up(medium){
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    &__item{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        &:not(:last-child){
            @include breakpoint-down(small){
                margin-bottom: 2.133rem;
            }
        }

        &:nth-of-type(1){
            hr:last-of-type{
                @include breakpoint-down(small){
                    display: none;
                }
            }
        }

        &:nth-of-type(2){

            @include breakpoint-up(medium){
                margin: 0 .667rem;
            }

            @include breakpoint-up(medium){
                margin: 0 2rem;
            }

            hr{
                @include breakpoint-down(small){
                    display: none;
                }
            }
        }

        &:nth-of-type(3){
            hr:first-of-type{
                @include breakpoint-down(small){
                    display: none;
                }
            }
        }
    }

    .culture,
    .people{
        @include breakpoint-up(medium){
            display: flex;
            justify-content: space-between;
        }

        .heading{
            @include breakpoint-up(medium){
                flex-basis: 30%;
            }
        }

        .paragraph{
            @include breakpoint-up(medium){
                flex-basis: 70%;
                max-width: 42.33rem;
            }
        }
    }

    .culture{
        margin-bottom: 3.2rem;

        .heading{
            @include breakpoint-down(small){
                margin-bottom: 1.0667rem;
            }
        }
    }

    .people{

        .heading{
            @include breakpoint-down(small){
                margin-bottom: 1.0667rem;
            }
        }
    }
}