// ********************
// Home Styles
// ********************

.partners{
    background-color: var(--color-mirage-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint-up(large){
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .wrapper{
        width: 100%;
        padding: 5rem 1.6rem;

        @include breakpoint-up(medium){
            padding: 5.867rem 7.733rem;
        }

        @include breakpoint-up(large){
            padding: 6.667rem 11rem;
        }
    }

    &__text-container{
        max-width: 29.667rem;

        .heading{
            color: var(--color-link-water-white);
            margin-bottom: 1rem;
        }
    
        .paragraph{
            margin-bottom: 2rem;
        }
    }


    &__list{
        @include breakpoint-down(small){
            margin: 0 1.6rem;
        }
        @include breakpoint-up(large){
            order: 2;
            margin-left: 4.667rem;
        }
        @include breakpoint-up(xlarge){
            margin-left: 8.667rem;
        }
    }
}

.features{
    position: relative;

    &::before{
        content: '';
        height: 780px;
        width: 390px;
        position: absolute;
        right: 0;
        top: 30%;
        z-index: -1;
        background-image: url(/starter-code/assets/shared/desktop/bg-pattern-circle.svg);
        background-repeat: no-repeat;
    }
}