// Reusable Buttons
.btn{
    display: inline-block;
    padding: 1.0667rem 1.6rem;
    line-height: 1.2rem;
    border-radius: 1.6rem;
    text-align: center;
    cursor: pointer;

    &--primary{
        background-color: var(--color-dark-pink);
        color: var(--color-link-water-white);
        box-shadow: var(--bxs-btn);

        &:hover,
        &:disabled{
            background-color: var(--color-charm-pink);
        }

        &:disabled{
            opacity: .5;
        }
    }

    &--secondary{
        background-color: var(--color-mirage-blue);
        color: var(--color-link-water-white);
        border: .0667rem solid var(--color-link-water-white);
        
        &:hover{
            background-color: var(--color-link-water-white);
            color: var(--color-mirage-blue);
        }
        
        &:disabled{
            opacity: .5;
        }
    }
    
    &--dark{
        background-color: var(--color-bg);
        color: var(--color-sanjuan-blue);
        border: .0667rem solid var(--color-sanjuan-blue);

        &:hover{
            background-color: var(--color-sanjuan-blue);
            color: var(--color-link-water-white);
        }
        
        &:disabled{
            opacity: .5;
        }
    }
}

// Nav Toggle Buttons
.nav__toggle{
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background-repeat: no-repeat;
    background-position: center;

    &--open{
        background-image: url(../../assets/shared/mobile/menu.svg);
    }

    &--close{
        background-image: url(../../assets/shared/mobile/close.svg);
    }
}