// ********************
// Forms
// ********************

// Text Fields

.form{
    margin: 0 auto;

    &--cta{
        @media screen and (min-width: 51.1rem){
            display: flex;
            justify-content: space-between;
            background-color: var(--color-link-water-white);
            max-width: 29.667rem;
            border-radius: 1.6rem;
        }

        [type="email"],
        [type="submit"]{
            border-radius: 1.6rem;
            padding: 1rem 1.8rem;
            
            @media screen and (max-width: 51.1rem){
                display: block;
                width: 100%;
            }
        }
        
        > *:not(:last-child){
            
            @media screen and (max-width: 51.1rem){
                margin-bottom: 1rem;
            }
        }
    }

    &--contact{
        display: flex;
        flex-direction: column;

        > *:not(:last-child){
            margin-bottom: 1.6rem;
        }

        // Inputs and Text Areas
        [type="text"],
        [type="email"],
        textarea{
            border: none;
            background: none;
            color: var(--color-sanjuan-blue);
            opacity: .5;
            border-bottom: 0.0667rem solid var(--color-sanjuan-blue);
        }

        [type="text"]:active,
        [type="email"]:active,
        textarea:active{
            opacity: initial;
        }
    }
}